* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    background-image: linear-gradient(315deg, #b3cdd1 0%, #9fa4c4 74%);
    
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.quiz-top {
    padding: 2rem;
}

.box {
    border-radius: 4px;
    width: 400px;
    background: #fff;
    max-width: 100%;
}

.answer {
    margin-top: 15px;
}

li {
    list-style: none;
}

input {
    margin: 12px 5px 0 7px;
    cursor: pointer;
}

label {
    cursor: pointer;
}

.box h2 {
    padding: 2rem;
}

button {
    width: 100%;
    background: #2980b9;
    padding: 1.3rem;
    color: white;
    border: none;
    font-weight: 300;
    font-size: 1.5rem;
    cursor: pointer;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}